* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

header {
  background-color: transparent;
}

.header-container {
  width: 700px;
  margin: auto;
}

.logo {
  width: 97px;
  height: 64px;
  display: block;
  margin: 30px 0;
}

.nav-bg {
  background-color: #f5f5f5;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 15px 0;
}

nav ul li a {
  font-family:
    "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial,
    sans-serif;
  font-size: 24px;
  color: #333333;
  line-height: 36px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  cursor:
    url("pointer.png") 0 0,
    pointer;
}

nav ul li a.active {
  color: #ff0000;
  text-decoration: none;
}

.has-pointer {
  position: relative;
}

.hovered {
  text-decoration: underline;
}

.pointer {
  position: absolute;
  top: 22px;
  left: 64px;
  width: 21px;
  height: 22px;
  z-index: 10;
  pointer-events: none;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0 1px 2px 0 #000000;
}

article {
  width: 700px;
  margin: auto;
  padding-top: 40px;
}

h1 {
  font-family:
    "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial,
    sans-serif;
  font-size: 42px;
  line-height: 1.05;
  margin-bottom: 20px;
  margin-top: 55px;
}

p {
  font-size: 21px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 15px;
}

code {
  font-family: "Courier New", monospace;
  background-color: #f0f0f0;
  padding: 2px 6px;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .header-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  article img {
    max-width: 100%;
    height: auto;
  }

  nav {
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    padding: 20px;
  }

  h1 {
    font-size: 26px;
    margin: 20px 0px;
    line-height: 28px;
  }

  h2 {
    font-size: 22px;
    margin: 6px 0px;
    line-height: 39px;
  }

  p {
    font-size: 18px;
    margin: 6px 0px;
    line-height: 22px;
  }

  section,
  section img {
    margin: 25px 20px;
  }

  .image-last {
    display: none;
  }
}
